///
/// Global
///
$auslese-bg: #fff;
$auslese-border-color: #9f9f9f;
$auslese-shadow-color: rgba(#000, .13);
$auslese-dropdown-shadow: 0 2px 8px $auslese-shadow-color;

///
/// Current
///
$auslese-current: #000;
$auslese-current-placeholder: #9f9f9f;

///
/// Groups
///
$auslese-group-title: #9f9f9f;

///
/// Choice
///
$auslese-choice-text: #000;
$auslese-choice-focus-bg: #f2f2f2;
$auslese-choice-disabled: #9f9f9f;

///
/// Multi
///
$auslese-multi-check-border: #dedede;
$auslese-multi-check-selected: #fff;
$auslese-multi-check-selected-bg: #000;

///
/// Search
///
$auslese-search: #000;
$auslese-search-placeholder: #9f9f9f;
$auslese-search-border: #e6e6e6;

///
/// Tags
///
$auslese-tag-bg: #f2f2f2;
$auslese-tag-focus: #fff;
$auslese-tag-focus-bg: #000;
