///
/// Global
///
$auslese-text: #000 !default;
$auslese-bg: #fff !default;
$auslese-muted: #9f9f9f !default;
$auslese-border-color: $auslese-muted !default;
$auslese-shadow-color: rgba(#000, .13) !default;
$auslese-dropdown-shadow: 0 2px 8px $auslese-shadow-color !default;
$auslese-overlay-z: 250 !default;
$auslese-focus: #f2f2f2 !default;

///
/// Check
///
$auslese-check-size: 24px;

///
/// Current
///
$auslese-current: $auslese-text !default;
$auslese-current-placeholder: $auslese-muted !default;

///
/// Groups
///
$auslese-group-title: $auslese-muted !default;

///
/// Choice
///
$auslese-choice-text: $auslese-text !default;
$auslese-choice-focus-bg: $auslese-focus !default;
$auslese-choice-disabled: $auslese-muted !default;

///
/// Multi
///
$auslese-multi-check-border-color: #dedede !default;
$auslese-multi-check-border: 1px solid $auslese-multi-check-border-color !default;
$auslese-multi-check-selected: #fff !default;
$auslese-multi-check-selected-bg: $auslese-text !default;

///
/// Search
///
$auslese-search: $auslese-text !default;
$auslese-search-placeholder: $auslese-muted !default;
$auslese-search-border: #e6e6e6 !default;

///
/// Tags
///
$auslese-tag-bg: $auslese-focus !default;
$auslese-tag-focus: $auslese-bg !default;
$auslese-tag-focus-bg: $auslese-text !default;
