@import "../helper/variables";

.auslese {
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 1px solid $auslese-border-color;
    line-height: 1;
    background-color: $auslese-bg;

    .auslese-open {
        .auslese-current-chevron svg {
            transform: rotateZ(180deg);
        }
    }
}
