.auslese-bound-select {
    display: block;
    height: 1px;
    opacity: 0;
    width: 100%;
    border: 0;
    // we may not set everything to 0, because the browser notices that the field
    // is not visible all and just throws an error on inline validation.
    // So keep it with 1px size, and remove all layout shifts
    margin-top: -1px;
    pointer-events: none;
}
