@import "../helper/mixins";
@import "../helper/variables";

.auslese-check {
    @include fixed-flex-width($auslese-check-size);
    content: "";
    height: $auslese-check-size;
    margin-right: 10px;
    border-radius: 2px;

    svg {
        height: 100%;
        width: 100%;
    }
}

@if $auslese-multi-check-border != 0 {
    .auslese-check-multiple {
        border: $auslese-multi-check-border;
    }
}
