.auslese-clear {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px 0;

    .auslese-clear-button {
        padding: 10px;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}
