@import "../helper/variables";

.auslese-current {
    @include flex-fill-width;
    padding: 12px 20px;
    color: $auslese-current;

    svg {
        @include transition(transform);
    }

    &.auslese-placeholder {
        color: $auslese-current-placeholder;
    }
}

.auslese-current-text {
    @include text-overflow;
    text-align: left;
    cursor: pointer;
}

.auslese-current-chevron {
    @include fixed-flex-width(50px);
    @include center-children;

    &:focus,
    &:hover {
        background-color: $auslese-tag-focus-bg;
        color: $auslese-tag-focus;
    }
}

.auslese-current-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -2px -5px;
    cursor: text;
    padding-top: 8px;
    padding-bottom: 8px;

    .auslese-tags-input {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 60px;
        border: 0;
        background-color: transparent;
    }

    > * {
        margin: 2px 5px;
    }
}
