@import "../helper/variables";

.auslese-group {
    padding: 10px;

    li {
        display: block;

        + li {
            margin-top: 5px;
        }
    }

    .auslese-group-title {
        padding: .5rem 1rem;
        color: $auslese-group-title;
        cursor: default;
    }

    &.auslese-selections {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2rem;
            right: 2rem;
            height: .1rem;
            background-color: $auslese-border-color;
        }
    }
}
